html, body {
    font-family: "Heebo", sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
}

/* Hero section */

.hero .hero-image {
    width: 80%;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: clamp(2rem, 6vw, 3rem);
    line-height: 45px;
}

.hero .resume-btn {
    background-color: #FF6464;
    color: white;
    font-size: 20px;
}


/* Projects section */

.projects {
    background-color: #EDF7FA;
}

.projects .card .badge {
    background-color: #142850;
    color: white;
}

/* Footer section */

.contact .contact-icon {
    color: #142850;
}